{% extends "admin/base_site.html" %}
{% load material_form %}


{% block content %}
{% if stock %}
<span>The Following Items have had their inventory cleared</span>
<ul>
{% for item in stock %}
    <li>{{item}} - {{item.notes}}</li>
{% endfor %}
</ul>
{% else %}
<span>You didn't select any items to clear!</span>
{% endif %}

{% endblock %}