{% extends "admin/base_site.html" %}
{% load material_form %}


{% block content %}
{% if form %}
<div class="row">
	<form method="post">
	    {% csrf_token %}
	    {% form form=form %}{% endform %}
	    <input type="submit" value="Submit" />
	</form>
</div>
{% endif %}

<div class="row">
{% if items %}
	<form action="{% url 'admin:clear_stock' %}" method="post">
	{% csrf_token %}
	<input type="submit" value="Clear Stock" />
	<table border="1">
	    <thead>
	        <tr>
	            <th></th>
	            <th>Publisher</th>
	            <th>Number</th>
	            <th>Title</th>
	            <th>Notes</th>
	            <th>Grade</th>
	            <th>Price</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for item in items %}
	        <tr>
	            <td><input type="checkbox" name="stock" id="stock-{{item.pk}}" value="{{item.pk}}"/><label for="stock-{{item.pk}}"></label></td>
	            <td>{{item.publisher}}</td>
	            <td>{{item.number}}</td>
	            <td>{{item.title}}</td>
	            <td>{{item.notes}}</td>
	            <td>{{item.grade}}</td>
	            <td>{{item.price}}</td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
	<input type="submit" value="Clear Stock" />
	</form>
{% else %}
    <span>No Results Found!</span>	
{% endif %}
</div>

{% endblock %}